<div class="row sizing">
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <div class="card-body">

        <!-- form start -->
        <form class="bg-light p-2 border-custom"
          #loginForm="ngForm"
          name="loginForm"
          (ngSubmit)="onSubmit(loginForm)">

          <h6 class="ml-1">Welcome GUEST, Please Login.</h6>
          <!-- email input control -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
              [readonly]="isReadOnly"
              class="form-control"
              name="email"
              [(ngModel)]="submittedUserData.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }"
              placeholder="Please provide your email"
              required
              email />
            <div *ngIf="loginForm.submitted && email.invalid"
              class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <!-- password input control -->
          <div class="form-group m-2">

            <label for="passowrdId">Password</label>

            <input type="password"
              class="form-control"
              id="passowrdId"
              placeholder="Password"
              aria-describedby="passwordError"
              ngModel
              name="password"
              required
              #password="ngModel"
              [readonly]="isReadOnly">

            <small *ngIf="password.invalid&&password.touched;"
              id="passwordError"
              class="text-danger">
              Please fill out your password
            </small>&nbsp;

          </div>

          <!-- Submit form/registerLink -->
          <div class="row m-1">

            <a class="mr-auto mt-1"
              [routerLink]="['/auth/signup']">
              <span>Not Registered? Click HERE!</span>
            </a>

            <button type="submit"
              class="btn btn-primary">
              <span>SUBMIT</span>
            </button>

          </div>
          <hr>
          <br>
        </form>
        <!-- form end -->

      </div>
    </div>
  </div>
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
