.card-size{
  height: 65vh;
}

.product-card-size{
  height: 30vh;
}

.tiny-margin{
  /* margin: 1px; */
}

.card-img-custom{
  object-fit: contain;
  width: 6vw;
  height: 6vh;
}

.padding-custom{
  padding: 10px 10px 0 10px;
}