<div class="card-body m-0 p-0">
  <p class="card-title font-weight-bold">
    Welcome<span *ngIf="hasPreviousCart">&nbsp;back</span>&nbsp;{{user?.firstName}},
  </p>
  <small>Items in cart:
    <span class="badge badge-success text-light">{{activeItems}}
    </span>
  </small>
  <hr>
  <!-- itemList -->
  <div class="card itemList">
    <div class="card-body overflow-auto">
      <!-- itemList -->
      <app-cart-item *ngFor="let item of cartItemArray"
        [cartItemObj]="item"></app-cart-item>
    </div>
  </div>
  <hr>
  <div class="row">
    <p class="card-text col-6 mt-2">
      Total:&nbsp;{{cart?.total.toFixed(2)}}$
    </p>
    <div class="card-link btn btn-primary col-5 mb-2">Check Out</div>
  </div>
</div>
