<div class="card mb-3 p-2"
  [ngStyle]="{'height':shopOrOrderConfig ? '22vh' : '12vh'}"
  *ngIf="isShown">

  <div class="row no-gutters">

    <div class="col-md-4">
      <img src="http://localhost:3000/public/images/pickleRick.png"
        class="card-img img-thumbnail m-1"
        alt="pickleRick">
    </div>

    <div class="col-md-8">
      <div class="card-body p-2"
        style="height: 9vw;">

        <!-- delete -->
        <button *ngIf="shopOrOrderConfig"
          type="button"
          class="close"
          aria-label="Close"
          (click)="removeItem()">
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- product name -->
        <h5 class="card-title m-1">{{capitalize(cartItemObj.name)}}</h5>

        <!-- price -->
        <div class="card-text gridList p-0">
          <span *ngIf="shopOrOrderConfig">
            <span>&nbsp;Price:&nbsp;</span>
            <span class="badge badge-success text-light m-1"> ${{cartItemObj.price}} </span>
            <span>&nbsp;Amount:&nbsp;</span>
            <span class="badge badge-success text-light m-1"> {{cartItemObj.amount}} </span>
            <span>&nbsp;Total:&nbsp;</span>
          </span>
          <span class="badge badge-success text-light m-1"> ${{cartItemObj.total}} </span>
        </div>
      </div>
    </div>

  </div>
  
</div>
