<div class="card mb-3 d-flex h-25">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="http://localhost:3000/public/images/pickleRick.png"
        class="card-img img-thumbnail m-1"
        alt="pickleRick">
    </div>
    <div class="col-md-8">
      <div class="card-body pt-1 px-2 pb-0 m-1"
        style="height: 9vw;">
        <!-- delete -->
        <button type="button"
          class="close"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- product name -->
        <h5 class="card-title m-1">Butternut squas</h5>
        <!-- price -->
        <span class="badge badge-success text-light mx-1 mt-2"> $52.80 </span>
        <span>&nbsp;x&nbsp;</span>
        <span>150</span>
        <!-- buttons -->
        <!-- <div class="card-text btn-group col-6 offset-6 mt-4"
          role="group">
          <button class="btn btn-success">
            <span class="plus-minus">+</span>
          </button>
          <button class="btn btn-danger">
            <span class="plus-minus">-</span>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
