<div class="card card-size">
  <div class="card-body overflow-auto row">
    <!--  -->
    <!-- <div class="card col-lg-3 col-md-4 col-sm-6 tiny-margin">
  <img src="https://i.ytimg.com/vi/AfdR003knes/hqdefault.jpg"
    class="card-img-top"
    alt="meow">
  <div class="card-body m-1">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <a href="#"
      class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
    <!--  -->

    <!--  -->
    <div class="card product-card-size m-1">
      <div class="row card-body padding-custom">

        <div class="col-md-7">
          <div class="card-block">
            <!-- title -->
            <h4 class="card-title">Product Name</h4>
            <p class="card-text">$:&nbsp;0.00</p>
            <!-- group -->
            <div class="btn-group"
              role="group"
              aria-label="Basic example">
              <button type="button"
                class="btn btn-success">+</button>
              <button type="button"
                class="btn btn-danger">-</button>
            </div>
          </div>
        </div>
        <!-- image -->
        <div class="col-md-5">
          <img src="https://picsum.photos/150?image=641"
            class="card-img-top"
            alt="meow">
        </div>

      </div>
    </div>

    <!--  -->
  </div>
</div>
