<div *ngIf="isLoading"
  class="d-flex justify-content-center m-5">
  <div class="spinner-border"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading"
  class="m-3">
  <img src="{{imagePath}}"
    class="card-img-top"
    alt="{{imagePath}} is a picture of cat">
  <div class="card-body">
    <h5 class="card-title">Some useful info</h5>
    <ol class="card-text">
      <li>Available products in our store:&nbsp;
        <span class="badge badge-success text-light"> {{totalProductCount}}</span>
      </li>
      <li>Number of orders submitted in our store:&nbsp;
        <span class="badge badge-success text-light">{{totalOrderCount}}</span>
      </li>
    </ol>
    <br>

    <span *ngIf="hasPreviousCart && !userRole">
      <h5 class="card-title">Notification:</h5>
      <p class="card-text">
        You have an open cart from: <span class="badge badge-success text-light">{{formatDate(lastCartDate)}}</span>
      </p>
    </span>
  </div>
</div>
