<div *ngIf="isLoading"
  class="d-flex justify-content-center m-5">
  <div class="spinner-border"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="!isLoading"
  class="card-body">

  <ng-container *ngIf="user.role; else elseTemplate">

    <h5>Welcome Administrator, {{user.firstName}}</h5>
    <p class="card-text">Please click below to open your management</p>

    <hr>
    <a class="btn btn-warning text-light"
      (click)="checkIsAdmin()">Manage Shop</a>
    <hr>
  </ng-container>
  <ng-template #elseTemplate>

    <div *ngIf="hasPreviousCart">
      <h5 class="card-title">Welcome Back, {{user.firstName}}</h5>
      <p class="card-text">Please click below to pick up from where you left off: </p>
      <hr>
      <a class="btn btn-success text-light"
        (click)="resumeShopping()">Resume Shopping</a>
      <hr>
    </div>

    <div *ngIf="!hasPreviousCart">
      <h5 class="card-title">Welcome, {{user.firstName}}</h5>
      <p class="card-text">Click below to start a new cart: </p>
      <hr>
      <a class="btn btn-success text-light"
        (click)="resumeShopping()">Start Shopping</a>
      <hr>
    </div>
  </ng-template>
</div>
