<div class="card m-1 bg-light-blue">
  <div class="card-body m-1">

    <img src="{{productObj.imgUrl}}"
      class="card-img-top"
      alt="image of {{productObj.name}}">
    <hr>
    <h5 class="card-title">{{capitalize(productObj.name).substr(0, 15)}}</h5>

    <p class="card-text">
      <span class="badge badge-success text-light">
        ${{productObj.price.toFixed(2)}}
      </span>
    </p>

    <!-- buttons -->
    <div class="card-text btn-group"
      role="group"
      aria-label="Basic example">

      <!-- add btn -->
      <button class="btn btn-success"
        (click)="upDateCartItem(true)">
        <span class="plus-minus">+</span>
      </button>

      <!-- amount display input -->
      <input type="number"
        min="0"
        max="{{productObj.amount}}"
        [(ngModel)]="cartItem.amount"
        (change)="setCartItemAmount()"
        style="width:3vw;">

      <!-- reduce btn -->
      <button class="btn btn-danger"
        (click)="upDateCartItem(false)">
        <span class="plus-minus font-weight-bold">-</span>
      </button>
    </div>

  </div>
</div>
