<div class="row sizing">
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <app-panel-left [isLoading]="isLoading"
        [user]="user"
        [hasPreviousCart]="hasPreviousCart"
        [lastActiveCartId]="lastActiveCart?._id"></app-panel-left>
    </div>
  </div>
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <app-panel-middle [imagePath]="imagePath"
        [isLoading]="isLoading"></app-panel-middle>
    </div>
  </div>
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <app-panel-right [userRole]="user.role"
        [isLoading]="isLoading"
        [imagePath]="imagePath"
        [totalProductCount]="totalProductCount"
        [totalOrderCount]="totalOrderCount"
        [hasPreviousCart]="hasPreviousCart"
        [lastCartDate]="lastCartDate"></app-panel-right>
    </div>
  </div>
</div>
