<div class="row sizing">
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <div class="card-body">

        <!-- signupFormA start -->
        <form class="bg-light p-2 border-custom"
          name="form"
          (ngSubmit)="signupFormA.form.valid && onSubmitPartOne(signupFormA)"
          #signupFormA="ngForm"
          [mustMatch]="['password', 'confirmPassword']"
          novalidate>

          <div class="form-group">
            <label for="tzId">TZ ID</label>
            <input type="text"
              [readonly]="isReadOnly"
              class="form-control"
              name="tzId"
              [(ngModel)]="submittedUserData.tzId"
              #tzId="ngModel"
              [ngClass]="{ 'is-invalid': signupFormA.submitted && tzId.invalid }"
              placeholder="Please enter your 9 digit id"
              required
              minlength="9"
              maxlength="9"
              pattern="[0-9]+" />

            <div *ngIf="signupFormA.submitted && tzId.invalid"
              class="invalid-feedback">
              <div *ngIf="tzId.errors.required">Last Name is required</div>
              <div *ngIf="tzId.errors.minlength||tzId.errors.maxlength||tzId.errors.pattern">TzId must be 9 digits</div>
              <div *ngIf="tzId.errors.invalidID">
                TzId is in use - please <a [routerLink]="['auth/login']">LOGIN</a>
                instead
              </div>

            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
              [readonly]="isReadOnly"
              class="form-control"
              name="email"
              [(ngModel)]="submittedUserData.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': signupFormA.submitted && email.invalid }"
              placeholder="Please provide your email"
              required
              email />
            <div *ngIf="signupFormA.submitted && email.invalid"
              class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
              [readonly]="isReadOnly"
              class="form-control"
              name="password"
              [(ngModel)]="submittedUserData.password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': signupFormA.submitted && password.invalid }"
              placeholder="Password must be 6 characters long"
              required
              minlength="6" />
            <div *ngIf="signupFormA.submitted && password.invalid"
              class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password"
              [readonly]="isReadOnly"
              class="form-control"
              name="confirmPassword"
              [(ngModel)]="submittedUserData.confirmPassword"
              #confirmPassword="ngModel"
              [ngClass]="{ 'is-invalid': signupFormA.submitted && confirmPassword.invalid }"
              placeholder="Password must be 6 characters long"
              required />
            <div *ngIf="signupFormA.submitted && confirmPassword.invalid"
              class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>

        </form>
        <!-- signupFormA end -->

      </div>
    </div>
  </div>
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <div class="card-body">

        <!-- signupFormB start -->
        <!-- signupFormB end -->

      </div>
    </div>
  </div>
  <div class="col-4 padding-custom">
    <div class="card mt-1 bg-light-blue">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
