<app-search></app-search>
<div #parentContainer
  class="parentContainer">
  <!-- cartDiv -->
  <div class="cartDiv bg-light-blue card bg-light-blue"
    [style.width.px]="cartDiv.width">
    <app-cart *ngIf="!isAdmin"
      [shopOrOrderConfig]="showShopOrOrder"></app-cart>
    <app-admin-edit *ngIf="isAdmin"></app-admin-edit>
    <div class="grabber"
      id="resizeDiv"></div>
  </div>
  <!-- ShopDiv -->
  <div class="shopDiv card bg-light-blue"
    [style.width.px]="shopDiv.width">

    <ng-container *ngIf="showShopOrOrder; else elseTemplate">
      <app-product-select [isAdmin]="isAdmin"></app-product-select>
    </ng-container>
    <ng-template #elseTemplate>
      <app-order></app-order>
    </ng-template>

  </div>
</div>
