<div class="card-body pb-0">
  <div class="card-title inlineChildren">

    <ngb-pagination [collectionSize]="categories.length"
      [pageSize]="itemsPerPage"
      [(page)]="page"
      [maxSize]="itemsPerPage"
      [rotate]="true"
      (pageChange)="loadPage($event)"></ngb-pagination>
    <!--  -->
    <span style="margin:auto">&nbsp;</span>
    <!--  -->
    <ul class="pagination">
      <li class="page-item"
        [ngClass]="[isActive[i]?'active':'']"
        (click)="classToggle(i)"
        *ngFor="let category of categoryPortion; let i=index;">
        <a class="page-link"
          (click)="onCategoryClick(category._id)">{{category.name}}</a>
      </li>
    </ul>


  </div>
</div>
